<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Add Customer</h3>
<p>
    <a th:href="@{/list}">
        Back to product list
    </a>
</p>
<div id="form">
    <form th:action="@{/create}" th:object="${product}" method="post">
        <input type="hidden" th:field="*{id}">
        <div>
            <label>Tên sản phẩm</label>
            <input type="text" th:field="*{nameProduct}">
            <p style="color: red" th:if="${#fields.hasErrors('nameProduct')}" th:errors="*{nameProduct}"></p>
        </div>

        <div>
            <label>Giá sản phẩm</label>
            <input type="text" th:field="*{priceProduct}">
            <p style="color: red" th:if="${#fields.hasErrors('priceProduct')}" th:errors="*{priceProduct}"></p>
        </div>

        <div>
            <label>Chi tiết sản phẩm</label>
            <input type="text" th:field="*{detailProduct}">
            <p style="color: red" th:if="${#fields.hasErrors('detailProduct')}" th:errors="*{detailProduct}"></p>
        </div>

        <div>
            <label>Nhà sản xuất</label>
            <input type="text" th:field="*{production}">
            <p style="color: red" th:if="${#fields.hasErrors('production')}" th:errors="*{production}"></p>
        </div>

        <button type="submit">Add new</button>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>