<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Product</title>
    <link rel="stylesheet" href="/bootstrap413/css/bootstrap.min.css">
    <link rel="stylesheet" href="/datatables/css/dataTables.bootstrap4.min.css">
    <script src="https://kit.fontawesome.com/dbc3483aca.js" crossorigin="anonymous"></script>
    <style>
        .center-box {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .head-text {
            font-size: 30px;
            font-weight: bold;
            height: 10%;
        }

        .content {
            height: 90%;
        }

        .footer {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    </style>
</head>
<body class="h-100">
<nav class="navbar navbar-light bg-dark text-white center-box head-text">
    Danh sách sản phẩm
</nav>

<div class="container-fluid content">
    <div class="row h-100">
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-10 h-100" style="border: 1px solid black">
            <table class="table text-center table-striped table-hover bg-white" id="tableCinema">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Id</th>
                    <th>Tên sản phẩm</th>
                    <th>Giá sản phẩm</th>
                    <th>Chi tiết sản phẩm</th>
                    <th>Tên nhà sản xuất</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Detail</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="product,varStat : ${productList}">
                    <td th:text="${varStat.count}"></td>
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.nameProduct}"></td>
                    <td th:text="${product.priceProduct}"></td>
                    <td th:text="${product.detailProduct}"></td>
                    <td th:text="${product.production}"></td>
                    <td><a th:href="@{/{id}/update(id=${product.getId()})}">update</a></td>
                    <td><a th:href="@{/{id}/delete(id=${product.getId()})}">delete</a></td>
                    <td><a th:href="@{/{id}/detail(id=${product.getId()})}">detail</a></td>
                </tr>
                </tbody>
            </table>
            <div>
                <div class="w-100  footer" style="color: #b21f2d; font-size: 2rem">
                    <button><a th:href="@{/create}"><i class="fa-solid fa-plus"></i></a></button>

                    <button><a href="#" data-toggle="modal"
                               data-target="#search"><i class="fa-solid fa-magnifying-glass"></i></a></button>
                </div>
            </div>
        </div>
        <div class="col-md-1">&nbsp;</div>
    </div>
</div>
<div>
    <span>
        <a th:if="${productList.hasPrevious()}" th:href="@{/list(page = ${productList.number - 1})}">Previous</a>
    </span>
    <span th:each="pageNo: ${#numbers.sequence(0,productList.totalPages - 1)}">
        <a th:href="@{/list(page = ${pageNo})}" th:text="${pageNo}"></a>
    </span>
    <span>
        <a th:if="${productList.hasNext()}" th:href="@{/list(page = ${productList.number +1})}">Next</a>
    </span>
</div>

<div class="modal" id="search">
    <div class="modal-dialog">
        <form th:action="@{/search}" method="get">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title w-100 text-center">Chọn thuộc tính bạn muốn tìm kiếm</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body footer border- 0">
                    <input type="text" name="nameProduct" placeholder="Tên sản phẩm" class="form-control">
                </div>
                <div class="modal-footer border-0">
                    <button type="submit" class="btn btn-dark">
                        Tìm kiếm
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<script src="/jquery/jquery-3.5.1.min.js"></script>
<script src="/datatables/js/jquery.dataTables.min.js"></script>
<script src="/datatables/js/dataTables.bootstrap4.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="/bootstrap413/js/bootstrap.bundle.min.js"></script>

</html>