<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Music</h3>
<p>
    <a th:href="@{/create}">
        Add new Song
    </a>
</p>

<form action="/search">
    <label>
        <input type="text" name="nameSinger">
    </label>
    <button type="submit">Tìm kiếm</button>
</form>

<table id="music">
    <thead>
    <tr>
        <th>STT</th>
        <th>Id</th>
        <th>Tên bài hát</th>
        <th>Nghệ sĩ thể hiện</th>
        <th>Thể loại nhạc</th>
        <th>Đường dẫn file bài hát</th>
        <th>Edit</th>
        <th>Delete</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="music,varStat : ${musicList}">
        <td th:text="${varStat.count}"></td>
        <td th:text="${music.id}"></td>
        <td th:text="${music.nameMusic}"></td>
        <td th:text="${music.singer}"></td>
        <td th:text="${music.typeMusic}"></td>
        <td th:text="${music.linkMusic}"></td>
        <td><a th:href="@{/{id}/update(id=${music.getId()})}">Update</a></td>
        <td><a th:href="@{/{id}/delete(id=${music.getId()})}">Delete</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>