<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Add Customer</h3>
<p>
    <a th:href="@{/list}">
        Back to product list
    </a>
</p>
<div id="form">
    <form th:action="@{/delete}" th:object="${product}" method="post">
        <input type="hidden" th:field="*{id}">
        <div>
            <label>Tên sản phẩm</label>
            <input type="text" th:field="*{nameProduct}">
        </div>

        <div>
            <label>Giá sản phẩm</label>
            <input type="text" th:field="*{priceProduct}">
        </div>

        <div>
            <label>Chi tiết sản phẩm</label>
            <input type="text" th:field="*{detailProduct}">
        </div>

        <div>
            <label>Nhà sản xuất</label>
            <input type="text" th:field="*{production}">
        </div>
        <div>
            <button type="submit">Delete</button>

            <a th:href="@{/list}" style="margin-left: 30px">
                <button>
                    Cancel
                </button>
            </a>
        </div>
    </form>
</div>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>