<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>View Customer</h3>
<p>
    <a th:href="@{/list}">
        Back to product list
    </a>
</p>
<div id="form">
    <input type="hidden" th:field="*{id}">
    <div>
        <label>Tên sản phẩm</label>
        <input type="text" disabled th:field="*{product.nameProduct}">
    </div>

    <div>
        <label>Giá sản phẩm</label>
        <input type="text" disabled th:field="*{product.priceProduct}">
    </div>

    <div>
        <label>Chi tiết sản phẩm</label>
        <input type="text" disabled th:field="*{product.detailProduct}">
    </div>

    <div>
        <label>Nhà sản xuất</label>
        <input type="text" disabled th:field="*{product.production}">
    </div>

</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
