<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/bootstrap413/css/bootstrap.min.css">
    <link rel="stylesheet" href="/datatables/css/dataTables.bootstrap4.min.css">
    <style>
        .content {
            display: flex;
            align-items: center;
            justify-content: center;
        }

    </style>
</head>
<body class="bg-dark">
<div class="w-100">
    <div class="w-25 m-0 p-0 float-left">&nbsp;</div>
    <div class=" w-50 content float-left p-0">

        <form th:action="@{/delete-customer}" th:object="${customer}" method="post" class="w-100 bg-white">
            <a th:href="@{/list-customer}" style="font-size: 2rem">Trở lại trang chính</a>
            <div class="p-3">
                <h4 style="text-align: center">Đuổi khách</h4>

                <input class="form-control" type="hidden" th:field="*{customerId}">

                <div class="form-group">
                    <label>Mã khách hàng</label>
                    <input class="form-control" type="text" disabled th:field="*{customerCode}">

                </div>

                <div class="form-group">
                    <label>Tên khách hàng</label>
                    <input class="form-control" type="text" disabled th:field="*{customerName}">

                </div>

                <div class="form-group">
                    <label>Ngày sinh</label>
                    <input class="form-control" type="date"  disabled th:field="*{customerBirthday}">
                </div>

                <div class="form-group">
                    <label>Giới tính</label>
                    <input class="form-control" type="text" disabled th:field="*{customerGender}">

                </div>

                <div class="form-group">
                    <label>Căn cước công dân</label>
                    <input class="form-control" type="text" disabled th:field="*{customerIdCard}">

                </div>

                <div class="form-group">
                    <label>Số điện thoại</label>
                    <input class="form-control" type="text" disabled th:field="*{customerPhone}">

                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" type="text" disabled th:field="*{customerEmail}">

                </div>

                <div class="form-group">
                    <label>Địa chỉ</label>
                    <input class="form-control" type="text" disabled th:field="*{customerAddress}">

                </div>

                <div class="form-group">
                    <label>Kiểu thuê</label>
                    <input class="form-control" type="text" disabled th:field="*{customerType.customerTypeName}">
                </div>

                <button class="btn btn-dark" type="submit">Delete</button>

                <button class="btn btn-dark" type="submit">
                    <a th:href="@{/list-customer}" style="color: white">
                        Cancel
                    </a>
                </button>
            </div>
        </form>
    </div>
    <div class="w-25 m-0 p-0 float-left">&nbsp;</div>
</div>

</body>
<script src="/jquery/jquery-3.5.1.min.js"></script>
<script src="/datatables/js/jquery.dataTables.min.js"></script>
<script src="/datatables/js/dataTables.bootstrap4.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="/bootstrap413/js/bootstrap.bundle.min.js"></script>
</html>