<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{common_student::headerStudent}">
    <div style="background-color: blue" th:fragment="headerStudent">
        <p>HEADER</p>
        <p>-------------------------------------------</p>
    </div>
</div>
<h3>Talk ẩn danh</h3>
<table width="700px" border="1">
    <tr>
        <th>No</th>
        <th>Code Student</th>
        <th>Name Student</th>
        <th>Point Student</th>
        <th>Gender Student</th>
        <th>Classroom</th>
    </tr>
    <tr th:each="student,loop : ${studentTalkList}">
        <td th:text="${loop.count}"></td>
        <td th:text="${student.codeStudent}"></td>
        <td th:text="${student.nameStudent}"></td>
        <td th:text="${student.point}"></td>
        <td>
            <p th:if="${student.gender == 0}">Male</p>
            <p th:if="${student.gender==1}">Female</p>
            <p th:if="${student.gender==null}">Other</p>
        </td>
        <td th:text="${student.classroom.nameClass}"></td>
    </tr>
</table>
<div th:replace="~{common_student::footerStudent}"></div>
</body>
</html>