<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/bootstrap413/css/bootstrap.min.css">
    <link rel="stylesheet" href="/datatables/css/dataTables.bootstrap4.min.css">
    <style>
        .content {
            display: flex;
            align-items: center;
            justify-content: center;
        }

    </style>
</head>
<body class="bg-dark">
<div class="w-100">
    <div class="w-25 m-0 p-0 float-left">&nbsp;</div>
    <div class=" w-50 content float-left p-0">

        <form th:action="@{/update-service}" th:object="${serviceDto}" method="post" class="w-100 bg-white">
            <a th:href="@{/list-service}" style="font-size: 2rem">Trở lại trang chính</a>
            <div class="p-3">
                <h4 style="text-align: center">Thêm dịch vụ</h4>
                <div class="form-group">

                    <!--                    Villa-->

                    <div th:if="${serviceDto.serviceType.serviceTypeName == 'Villa'}">

                        <input class="form-control" type="hidden" th:field="*{serviceId}">

                        <div class="form-group">
                            <label>Loại dịch vụ</label>
                            <input class="form-control" type="text" readonly th:field="*{serviceType.serviceTypeName}">
                        </div>

                        <div class="form-group">
                            <label>Mã dịch vụ</label>
                            <input class="form-control" type="text" th:field="*{serviceCode}">
                            <p class="text-danger" th:if="${#fields.hasErrors('serviceCode')}"
                               th:errors="*{serviceCode}"></p>
                        </div>

                        <div class="form-group">
                            <label>Tên dịch vụ</label>
                            <input class="form-control" type="text" th:field="*{serviceName}">
                            <p class="text-danger" th:if="${#fields.hasErrors('serviceName')}"
                               th:errors="*{serviceName}"></p>

                        </div>

                        <div class="form-group">
                            <label>Diện tích sử dụng</label>
                            <input class="form-control" type="text" th:field="*{serviceArea}">
                            <p class="text-danger" th:if="${#fields.hasErrors('serviceArea')}"
                               th:errors="*{serviceArea}"></p>

                        </div>

                        <div class="form-group">
                            <label>Giá</label>
                            <input class="form-control" type="text" th:field="*{serviceCost}">
                            <p class="text-danger" th:if="${#fields.hasErrors('serviceCost')}"
                               th:errors="*{serviceCost}"></p>

                        </div>

                        <div class="form-group">
                            <label>Số người tối đa</label>
                            <input class="form-control" type="text" th:field="*{serviceMaxPeople}">
                            <p class="text-danger" th:if="${#fields.hasErrors('serviceMaxPeople')}"
                               th:errors="*{serviceMaxPeople}"></p>

                        </div>

                        <div class="form-group">
                            <label>Tiêu chuẩn phòng</label>
                            <input class="form-control" type="text" th:field="*{standardRoom}">
                            <p class="text-danger" th:if="${#fields.hasErrors('standardRoom')}"
                               th:errors="*{standardRoom}"></p>

                        </div>

                        <div class="form-group">
                            <label>Mô tả tiện nghi khác</label>
                            <input class="form-control" type="text" th:field="*{descriptionOtherConvenience}">
                            <p class="text-danger" th:if="${#fields.hasErrors('descriptionOtherConvenience')}"
                               th:errors="*{descriptionOtherConvenience}"></p>

                        </div>

                        <div class="form-group">
                            <label>Diện tích hồ bơi</label>
                            <input class="form-control" type="text" th:field="*{poolArea}">
                            <p class="text-danger" th:if="${#fields.hasErrors('poolArea')}"
                               th:errors="*{poolArea}"></p>

                        </div>

                        <div class="form-group">
                            <label>Số tầng</label>
                            <input class="form-control" type="text" th:field="*{numberOfFloors}">
                            <p class="text-danger" th:if="${#fields.hasErrors('numberOfFloors')}"
                               th:errors="*{numberOfFloors}"></p>

                        </div>

                        <div class="form-group">
                            <label>Kiểu thuê</label>
                            <select class="form-group w-100" th:readonly="true" th:field="*{rentType}">
                                <option
                                        th:each="item: ${rentTypeList}"
                                        th:value="${item.rentTypeId}"
                                        th:text="${item.rentTypeName}">
                                </option>
                            </select>
                        </div>
                        <button class="btn btn-dark" type="submit">Add new</button>
                    </div>

                    <!--                    House-->

                    <div th:if="${serviceDto.serviceType.serviceTypeName == 'House'}">

                        <input class="form-control" type="hidden" th:field="*{serviceId}">

                        <div class="form-group">
                            <label>Loại dịch vụ</label>
                            <input class="form-control" type="text" readonly th:field="*{serviceType.serviceTypeName}">
                        </div>

                        <div class="form-group">
                            <label>Mã dịch vụ</label>
                            <input class="form-control" type="text" th:field="*{serviceCode}">
                            <p class="text-danger" th:if="${#fields.hasErrors('serviceCode')}"
                               th:errors="*{serviceCode}"></p>
                        </div>

                        <div class="form-group">
                            <label>Tên dịch vụ</label>
                            <input class="form-control" type="text" th:field="*{serviceName}">
                            <p class="text-danger" th:if="${#fields.hasErrors('serviceName')}"
                               th:errors="*{serviceName}"></p>
                        </div>

                        <div class="form-group">
                            <label>Diện tích sử dụng</label>
                            <input class="form-control" type="text" th:field="*{serviceArea}">
                            <p class="text-danger" th:if="${#fields.hasErrors('serviceArea')}"
                               th:errors="*{serviceArea}"></p>
                        </div>

                        <div class="form-group">
                            <label>Giá</label>
                            <input class="form-control" type="text" th:field="*{serviceCost}">
                            <p class="text-danger" th:if="${#fields.hasErrors('serviceCost')}"
                               th:errors="*{serviceCost}"></p>
                        </div>

                        <div class="form-group">
                            <label>Số người tối đa</label>
                            <input class="form-control" type="text" th:field="*{serviceMaxPeople}">
                            <p class="text-danger" th:if="${#fields.hasErrors('serviceMaxPeople')}"
                               th:errors="*{serviceMaxPeople}"></p>
                        </div>

                        <div class="form-group">
                            <label>Tiêu chuẩn phòng</label>
                            <input class="form-control" type="text" th:field="*{standardRoom}">
                            <p class="text-danger" th:if="${#fields.hasErrors('standardRoom')}"
                               th:errors="*{standardRoom}"></p>
                        </div>

                        <div class="form-group">
                            <label>Mô tả tiện nghi khác</label>
                            <input class="form-control" type="text" th:field="*{descriptionOtherConvenience}">
                            <p class="text-danger" th:if="${#fields.hasErrors('descriptionOtherConvenience')}"
                               th:errors="*{descriptionOtherConvenience}"></p>
                        </div>

                        <div class="form-group">
                            <label>Số tầng</label>
                            <input class="form-control" type="text" th:field="*{numberOfFloors}">
                            <p class="text-danger" th:if="${#fields.hasErrors('numberOfFloors')}"
                               th:errors="*{numberOfFloors}"></p>
                        </div>

                        <div class="form-group">
                            <label>Kiểu thuê</label>
                            <select class="form-group w-100" th:field="*{rentType}">
                                <option
                                        th:each="rentType: ${rentTypeList}"
                                        th:value="${rentType.rentTypeId}"
                                        th:text="${rentType.rentTypeName}">
                                </option>
                            </select>
                        </div>
                        <button class="btn btn-dark" type="submit">Add new</button>
                    </div>

                    <!--                     Room-->
                    <div th:if="${serviceDto.serviceType.serviceTypeName == 'Room'}">

                        <input class="form-control" type="hidden" th:field="*{serviceId}">

                        <div class="form-group">
                            <label>Loại dịch vụ</label>
                            <input class="form-control" type="text" readonly th:field="*{serviceType.serviceTypeName}">
                        </div>

                        <div class="form-group">
                            <label>Mã dịch vụ</label>
                            <input class="form-control" type="text" th:field="*{serviceCode}">
                            <p class="text-danger" th:if="${#fields.hasErrors('serviceCode')}"
                               th:errors="*{serviceCode}"></p>
                        </div>

                        <div class="form-group">
                            <label>Tên dịch vụ</label>
                            <input class="form-control" type="text" th:field="*{serviceName}">
                            <p class="text-danger" th:if="${#fields.hasErrors('serviceName')}"
                               th:errors="*{serviceName}"></p>
                        </div>

                        <div class="form-group">
                            <label>Diện tích sử dụng</label>
                            <input class="form-control" type="text" th:field="*{serviceArea}">
                            <p class="text-danger" th:if="${#fields.hasErrors('serviceArea')}"
                               th:errors="*{serviceArea}"></p>
                        </div>

                        <div class="form-group">
                            <label>Giá</label>
                            <input class="form-control" type="text" th:field="*{serviceCost}">
                            <p class="text-danger" th:if="${#fields.hasErrors('serviceCost')}"
                               th:errors="*{serviceCost}"></p>
                        </div>

                        <div class="form-group">
                            <label>Số người tối đa</label>
                            <input class="form-control" type="text" th:field="*{serviceMaxPeople}">
                            <p class="text-danger" th:if="${#fields.hasErrors('serviceMaxPeople')}"
                               th:errors="*{serviceMaxPeople}"></p>
                        </div>

                        <div class="form-group">
                            <label>Kiểu thuê</label>
                            <select class="form-group w-100" th:field="*{rentType}">
                                <option
                                        th:each="rentType: ${rentTypeList}"
                                        th:value="${rentType.rentTypeId}"
                                        th:text="${rentType.rentTypeName}">
                                </option>
                            </select>
                        </div>
                        <button class="btn btn-dark" type="submit">Add new</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="w-25 m-0 p-0 float-left">&nbsp;</div>
</div>

</body>
<script src="/jquery/jquery-3.5.1.min.js"></script>
<script src="/datatables/js/jquery.dataTables.min.js"></script>
<script src="/datatables/js/dataTables.bootstrap4.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="/bootstrap413/js/bootstrap.bundle.min.js"></script>
</html>