<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Create Blog</h3>
<p>
    <a th:href="@{/list}">
        <button>
            Back to User list
        </button>
    </a>
</p>
<div id="form">
    <form th:action="@{/create}" th:object="${user}" method="post">
        <div>
            <label>First name</label>
            <input type="text" th:field="*{firstName}">
            <p style="color: red;" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
        </div>

        <div>
            <label>Last name</label>
            <input type="text" th:field="*{lastName}">
            <p style="color: red;" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
        </div>

        <div>
            <label>Phone number</label>
            <input type="text" th:field="*{phoneNumber}">
            <p style="color: red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></p>
        </div>

        <div>
            <label>Age</label>
            <input type="text" th:field="*{age}">
            <p style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>
        </div>

        <div>
            <label>Email</label>
            <input type="text" th:field="*{email}">
            <p style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
        </div>

        <button type="submit">Create</button>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>