<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Blog</h3>
<p>
    <a th:href="@{/create}">
        <button>
            Add new User
        </button>
    </a>
</p>

<div th:if="${msg != null}">
    <p th:text="${msg}"></p>
</div>

<table id="user">
    <thead>
    <tr>
        <th>STT</th>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Phone number</th>
        <th>Age</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Detail</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="user,varStat : ${userList}">
        <td th:text="${varStat.count}"></td>
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.phoneNumber}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.email}"></td>
        <td><a th:href="@{/{id}/update(id=${user.id})}">Update</a></td>
        <td><a th:href="@{/{id}/delete(id=${user.id})}">Delete</a></td>
        <td><a th:href="@{/{id}/detail(id=${user.id})}">Detail</a></td>
    </tr>
    </tbody>
</table>
<div>
    <span>
        <a th:if="${userList.hasPrevious()}" th:href="@{/list(page = ${userList.number - 1})}">Previous</a>
    </span>
    <span th:each="pageNo: ${#numbers.sequence(0,userList.totalPages - 1)}">
        <a th:href="@{/list(page = ${pageNo})}" th:text="${pageNo}"></a>
    </span>
    <span>
        <a th:if="${userList.hasNext()}" th:href="@{/list(page = ${userList.number +1})}">Next</a>
    </span>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>