<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/bootstrap413/css/bootstrap.min.css">
    <link rel="stylesheet" href="/datatables/css/dataTables.bootstrap4.min.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="card col-md-4 p-2" style="width: 22rem;">
            <img class="card-img-top"
                 src="https://cdn.tgdd.vn/Products/Images/42/234621/Xiaomi-12-xam-thumb-mau-600x600.jpg"
                 style="height: 289px">
            <div class="card-body">
                <p class="card-text" style="text-align: center">Xiaomi 11T</p>
                <div class="table table-striped table-hover bg-white" id="tableCinema">
                    <p>Màn hình: AMOLED6.67"Full HD+</p>
                    <p>Chip: MediaTek Dimensity 1200</p>
                    <p>Hệ điều hành: Android 11</p>
                    <p>RAM: 8GB</p>
                    <p>Dung lượng pin: 5000 mAh67 W</p>
                </div>
                <button style="font-size: 2rem" type="button" class="btn btn-primary">Mại dzô, mại dzô</button>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
</body>
<script src="/jquery/jquery-3.5.1.min.js"></script>
<script src="/datatables/js/jquery.dataTables.min.js"></script>
<script src="/datatables/js/dataTables.bootstrap4.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="/bootstrap413/js/bootstrap.bundle.min.js"></script>
</html>