li {
    margin-left: 50px;
}
.body {
    border: 1px solid black;
    height: 550px;
    width: 100%;
}
.background {
    background-image: url([[@{/bootstrap413/Furama_Resort_Danang_-_Cafe_Indochine_preview.jpeg}]]);
    background-size: cover; height: 100%;
}